In [1]:
import pandas as pd
import os, h5py
import numpy as np

In [2]:
datas_name = "GSE147863"
folder = f"../data_sources/New/{datas_name}/"
fn = f"{folder}/{os.listdir(folder)[0]}"
# data = pd.read_hdf(fn)
# data
# dir(h5py.File(fn)['matrix'])
# h5py.File(fn)['matrix']["shape"][1]
# dir(h5py.File(fn)['matrix']['data'])

In [3]:
f = h5py.File(fn)

In [4]:
f.visit(print)

matrix
matrix/barcodes
matrix/data
matrix/features
matrix/features/_all_tag_keys
matrix/features/feature_type
matrix/features/genome
matrix/features/id
matrix/features/name
matrix/indices
matrix/indptr
matrix/shape

In [6]:
f.visititems(lambda name, obj: print(name, [obj.shape if isinstance(obj, h5py.Dataset) else None][0]))

matrix None
matrix/barcodes (22363,)
matrix/data (67518497,)
matrix/features None
matrix/features/_all_tag_keys (1,)
matrix/features/feature_type (33538,)
matrix/features/genome (33538,)
matrix/features/id (33538,)
matrix/features/name (33538,)
matrix/indices (67518497,)
matrix/indptr (22364,)
matrix/shape (2,)

In [22]:
matrix = pd.DataFrame()
print(matrix.shape)
def func(name, obj):
    if "indices" in name or "data" in name:
        matrix[name.split("/")[-1]] = pd.Series(obj)
f.visititems(func)
matrix

(0, 0)

          data  indices
0          105    33508
1            5    33506
2           42    33505
3            1    33504
4           18    33503
...        ...      ...
67518492     3       26
67518493     2       25
67518494     1       21
67518495     3       20
67518496     1       17

[67518497 rows x 2 columns]

In [69]:
pd.set_option("display.max_rows", 100)
slice_pos = 33508+17726+6500
matrix[slice_pos:slice_pos+100]

       data  indices
57734     4       66
57735     1       64
57736     2       61
57737     1       57
57738     4       55
57739     3       54
57740     2       53
57741     8       52
57742     3       48
57743     1       47
57744     5       43
57745     1       40
57746     2       39
57747     1       38
57748     1       29
57749     2       27
57750    11       26
57751     1       25
57752     4       21
57753     1       20
57754     1       14
57755    66    33508
57756     1    33507
57757     8    33506
57758    25    33505
57759     1    33504
57760    36    33503
57761   130    33502
57762    52    33501
57763     1    33500
57764    53    33499
57765    87    33498
57766    13    33497
57767    28    33496
57768     1    33491
57769     1    33482
57770     1    33468
57771     1    33465
57772     1    33459
57773     2    33446
57774     1    33445
57775     1    33406
57776     1    33394
57777    22    33334
57778     1    33327
57779     2    33326
57780     1    33301
57781     3    33297
57782     1    33296
57783     1    33258
57784     3    33254
57785     4    33249
57786     2    33244
57787     1    33228
57788     1    33204
57789     1    33161
57790     3    33158
57791     1    33141
57792     1    33140
57793     3    33133
57794     2    33131
57795     1    33129
57796     1    33080
57797     1    33079
57798     2    33064
57799     1    32993
57800     1    32963
57801     1    32959
57802     1    32956
57803     1    32938
57804     1    32910
57805     1    32893
57806     1    32867
57807     1    32847
57808     1    32844
57809     1    32829
57810     4    32828
57811     6    32814
57812     5    32813
57813     1    32811
57814     3    32808
57815     1    32795
57816     5    32792
57817     1    32787
57818     1    32782
57819     1    32775
57820     1    32774
57821    44    32767
57822     1    32756
57823     3    32751
57824     2    32740
57825     6    32734
57826     1    32729
57827     2    32715
57828     5    32711
57829     2    32707
57830     1    32706
57831     1    32704
57832     1    32703
57833     1    32696

In [24]:
set_matrix_indices = set(matrix["indices"])

In [26]:
max(matrix["indices"])

33537

In [25]:
len(set_matrix_indices)

27602

In [56]:
set(features["feature_type"])

{b'Gene Expression'}

In [34]:
features

             feature_type     genome                  id            name
0      b'Gene Expression'  b'GRCh38'  b'ENSG00000243485'  b'MIR1302-2HG'
1      b'Gene Expression'  b'GRCh38'  b'ENSG00000237613'      b'FAM138A'
2      b'Gene Expression'  b'GRCh38'  b'ENSG00000186092'        b'OR4F5'
3      b'Gene Expression'  b'GRCh38'  b'ENSG00000238009'   b'AL627309.1'
4      b'Gene Expression'  b'GRCh38'  b'ENSG00000239945'   b'AL627309.3'
...                   ...        ...                 ...             ...
33533  b'Gene Expression'  b'GRCh38'  b'ENSG00000277856'   b'AC233755.2'
33534  b'Gene Expression'  b'GRCh38'  b'ENSG00000275063'   b'AC233755.1'
33535  b'Gene Expression'  b'GRCh38'  b'ENSG00000271254'   b'AC240274.1'
33536  b'Gene Expression'  b'GRCh38'  b'ENSG00000277475'   b'AC213203.1'
33537  b'Gene Expression'  b'GRCh38'  b'ENSG00000268674'      b'FAM231C'

[33538 rows x 4 columns]

In [59]:
for ind, dta in zip(matrix["indices"], matrix["data"]):
    if(not isinstance(features["counts"][ind], int)): features["counts"][ind]=0
    else:features["counts"][ind]+=int(dta)

KeyboardInterrupt:

In [57]:
features

,feature_type,genome,id,name,counts
0,b'Gene Expression',b'GRCh38',b'ENSG00000243485',b'MIR1302-2HG',0
1,b'Gene Expression',b'GRCh38',b'ENSG00000237613',b'FAM138A',b'0 0 '
2,b'Gene Expression',b'GRCh38',b'ENSG00000186092',b'OR4F5',NaN
3,b'Gene Expression',b'GRCh38',b'ENSG00000238009',b'AL627309.1',0
4,b'Gene Expression',b'GRCh38',b'ENSG00000239945',b'AL627309.3',0
...,...,...,...,...,...
33533,b'Gene Expression',b'GRCh38',b'ENSG00000277856',b'AC233755.2',NaN
33534,b'Gene Expression',b'GRCh38',b'ENSG00000275063',b'AC233755.1',NaN
33535,b'Gene Expression',b'GRCh38',b'ENSG00000271254',b'AC240274.1',0
33536,b'Gene Expression',b'GRCh38',b'ENSG00000277475',b'AC213203.1',NaN
33537,b'Gene Expression',b'GRCh38',b'ENSG00000268674',b'FAM231C',NaN

In [47]:
for gene in features["name"]:
    print(gene)
features["counts"][1]+=f"{0} ".encode()
print(features.loc[1])

feature_type    b'Gene Expression'
genome                   b'GRCh38'
id              b'ENSG00000237613'
name                    b'FAM138A'
counts                     b'0 0 '
Name: 1, dtype: object

In [20]:
features = pd.DataFrame()
print(features.shape)
def func(name, obj):
    if "features/_" in name: return None
    if "features/" in name:
        features[name.split("/")[-1]] = pd.Series(list(obj))
f.visititems(func)
features

(0, 0)

             feature_type     genome                  id            name
0      b'Gene Expression'  b'GRCh38'  b'ENSG00000243485'  b'MIR1302-2HG'
1      b'Gene Expression'  b'GRCh38'  b'ENSG00000237613'      b'FAM138A'
2      b'Gene Expression'  b'GRCh38'  b'ENSG00000186092'        b'OR4F5'
3      b'Gene Expression'  b'GRCh38'  b'ENSG00000238009'   b'AL627309.1'
4      b'Gene Expression'  b'GRCh38'  b'ENSG00000239945'   b'AL627309.3'
...                   ...        ...                 ...             ...
33533  b'Gene Expression'  b'GRCh38'  b'ENSG00000277856'   b'AC233755.2'
33534  b'Gene Expression'  b'GRCh38'  b'ENSG00000275063'   b'AC233755.1'
33535  b'Gene Expression'  b'GRCh38'  b'ENSG00000271254'   b'AC240274.1'
33536  b'Gene Expression'  b'GRCh38'  b'ENSG00000277475'   b'AC213203.1'
33537  b'Gene Expression'  b'GRCh38'  b'ENSG00000268674'      b'FAM231C'

[33538 rows x 4 columns]

In [ ]:
h5_1 = h5py.File(fn)
for key1 in h5.keys():
    h5_2 = h5[key1]
    
    for key2 in h5_2: